* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: static;
  min-width: 1000px;
  height: 1000px;
  background-image: url("./images/backgroundmat.jpg");
  // background: #841919;
  background-size: auto 100%;
}
#root {
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.3px;
}
.dashboard {
  margin: auto;
  margin-top: 1rem;
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: 120px 1fr 1fr 1fr;
  grid-template-rows: 8% 15% 37% 20% 20%;
  grid-template-areas:
    "s h h h "
    "s m . c"
    "s m sS court "
    "s m pFWC pFWC "
    "s m pFWC pFWC ";
  box-shadow: 3px 3px 10px;
  border-radius: 10px;
  background: linear-gradient(#201328, #191319);
  .header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #110816;
    border-top-right-radius: 10px;

    div {
      flex-grow: 1;
      text-align: center;
      padding: 27px 0;
      border-bottom: 2px solid #2d1b34;
    }
    div:hover {
      background: #201328;
      border-bottom: 0px solid #201328;
    }
  }
  .comparison {
    grid-area: c;
    color: #0f94c5;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .sidebar {
    grid-area: s;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
    // width: 6.5vw;
    background: #110816;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid #2d1b34;
    // background: #00111f;
    // align-items: center;
    // justify-items: center;
    .avatars {
      overflow-y: scroll;
      display: grid;
      .sidebar__item {
        position: sticky;
        max-height: 75px;
        max-width: 75px;
        display: block;
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        transition-property: border;
        transition-duration: 0.1s;
        margin: 18px auto;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          border: 2px solid white;
        }
      }
    }
    .avatars::-webkit-scrollbar {
      width: 8px;
    }

    .avatars::-webkit-scrollbar-track {
      background-clip: content-box; /* THIS IS IMPORTANT */
    }

    .avatars::-webkit-scrollbar-thumb {
      background-color: #2d1b34;
      border-radius: 10px;
      border: 3px solid transparent;

      background-clip: content-box;
    }

    #herb {
      position: sticky;
      max-width: 120px;
      max-height: 120px;
      align-self: center;
      justify-self: center;
    }
    #arrow {
      max-height: 25px;
      max-width: 30px;
      align-self: center;
      justify-self: center;
    }
  }
  .playerInfo {
    grid-area: m;
    display: grid;
    /*Why 70 % works ?!??*/
    grid-template-rows: 150px auto 120px;
    grid-template-areas:
      "info"
      "statue"
      "metrics";
    color: white;
    .info {
      grid-area: info;
      h1 {
        display: inline-block;
      }
      h1,
      p {
        margin-left: 3rem;
      }
      .flag {
        width: 25px;
        height: 12.5px;
        padding: 0 0 0 20px;
        display: inline-block;
      }
    }
    .statue {
      grid-area: statue;
      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        position: sticky;
      }
      h1 {
        position: absolute;
        margin-left: 3rem;
        font-size: 7rem;
        color: rgba(255, 255, 255, 0.15);
      }
    }
    .metrics {
      grid-area: metrics;
      display: flex;
      flex-flow: row;
      align-items: center;
      text-align: center;
      padding: 0 0 20px 0;
      div {
        flex-grow: 1;
        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }
  .seasonStats {
    grid-area: sS;
    padding: 0 0 0 25px;
    p {
      color: rgba(255, 255, 255, 0.7);
    }
    p span {
      color: rgba(255, 255, 255, 1);
      font-weight: bold;
    }
  }
  .physicalFormWithChart {
    grid-area: pFWC;
    display: grid;
    grid-template-rows: 12.5% 37.5% 50%;
    grid-template-columns: 100%;
    grid-template-areas:
      "h"
      "pF"
      "c";

    .physicalFormHeader {
      grid-area: h;
      display: flex;
      h3 {
        flex: 1;
        padding-left: 25px;
      }
      p {
        flex: 1;
        text-align: right;
        padding-right: 40px;
      }
    }
    .physicalForm {
      grid-area: pF;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      padding: 0 40px 0 25px;
      .logo {
        flex-grow: 1;
        text-align: center;
        height: auto;
        width: auto;
        align-self: center;
        max-width: 75px;
        max-height: 75px;
        min-height: 50px;
        min-width: 50px;
        // img {
        //   max-width: 75px;
        //   max-height: 75px;
        //   min-height: 50px;
        //   min-width: 50px;
        // }
      }
    }

    .chart {
      grid-area: c;
      #canvasLine {
        width: 100%;
        height: 100%;
      }
    }
  }
  .court {
    grid-area: court;
    padding: 0 40px 40px 40px;
    #court {
      width: 100%;
      height: 80%;
    }
  }
  .match {
  }
  .log {
    overflow: scroll;
    height: 500px;

    .logButton {
      display: flex;
      height: 50px;
      margin: 10px 0;
      .sidebar__item {
        height: 100%;
        float: left;
        img {
          height: 100%;
        }
      }
      .timeStamp {
      }
      .ball {
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
    .logButton:hover {
      background: #110816;
    }
  }
  .log::-webkit-scrollbar {
    width: 8px;
  }

  .log::-webkit-scrollbar-track {
    background-clip: content-box; /* THIS IS IMPORTANT */
  }

  .log::-webkit-scrollbar-thumb {
    background-color: #2d1b34;
    border-radius: 10px;
    border: 3px solid transparent;

    background-clip: content-box;
  }
}
.dashboard > * {
  color: white;
}
p {
  font-weight: lighter;
}
